<%= form_with model: @challenge do |c| %>
    <% if @challenge.errors.any? %>
        <div class="alert alert-danger">
            <h5>There were errors with your submission:</h5>
            <ul>
                <% @challenge.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="col-4 mb-3">
        <%= c.label :name, "Title", class: "form-label" %>
        <%= c.text_field :name, placeholder: "Title of the Challenge", class: "form-control" %>
    </div>
    <div class="col-6 mb-3">
        <%= c.label :scoring_rule_id, "Scoring Rule", class: "form-label" %>
        <div class="d-flex align-items-center">
            <div class="flex-grow-1 me-2">    
                <%= c.collection_select :scoring_rule_id, 
                    (@scoring_rules || ScoringRule.all), 
                    :id, :rule_type, 
                    {include_blank: "Select a scoring rule" }, 
                    {class: "form-select", id: "challenge_scoring_rule_select" } %>
            </div>
            <div>
                <%= link_to "➕ New Scoring Rule", new_scoring_rule_path(return_to: request.fullpath),
                    id: "new-scoring-rule-link",
                    class: "btn btn-outline-secondary" %>
            </div>
        </div>
        <% if @challenge.errors[:scoring_rule_id].any? %>
            <div class="text-danger small"><%= @challenge.errors[:scoring_rule_id].first %></div>
        <% end %>
    </div>
    <div class="col-4 mb-3">
        <%= c.label :start_date, "Start Date:", class: "form-label" %>
        <%= c.date_select :start_date, class: "form-control" %>
    </div>
    <div class="col-4 mb-3">
        <%= c.label :end_date, "End Date:", class: "form-label" %>
        <%= c.date_select :end_date, class: "form-control" %>
    </div>
    <div class="col-8 mb-3">
        <%= c.rich_text_area :description, class: "form-control" %>
    </div>
    <div class="col-5 mb-3 ">
        <%= c.label :visibility, "Visibility", class: "form-label" %>
        <%= c.select :visibility, ["Public", "Private"], placeholder: "Visibility", class: "form-select" %>
    </div>
    <div class="col-5 mb-3 ">
        <%= c.label :category, "Category", class: "form-label" %>
        <%= c.select :category, ["Category 1", "Category 2"], class: "form-select" %>
    </div>
    <% cancel_path = @challenge.persisted? ? challenge_path(@challenge) : challenges_path %>
    <%= link_to "Cancel", cancel_path, class: "btn btn-danger" %> <%= c.submit "Save", class: "btn btn-primary" %>
<% end %>
