<%= form_with model: @scoring_rule do |sc| %>
    <div class="col-4 mb-3">
        <%= sc.label :rule_type, "Rule Type", class: "form-label" %>
        <%= sc.text_field :rule_type, placeholder: "Type of the rule (name)", class: "form-control" %>
    </div>
    <div class="col-8 mb-3">
        <%= sc.rich_text_area :description, class: "form-control" %>
    </div>
    <%= link_to "Cancel", challenges_path, class: "btn btn-danger" %> <%= sc.submit "Save", class: "btn btn-primary" %>
<% end %>
