<div class="container mt-5">
    <div class="card p-3" >
        <div class="d-flex justify-content-between align-items-center mb-3">
            <%= link_to "â† Back to Scoring Rules", scoring_rules_path, class: "btn btn-secondary" %>
            <div class="d-flex gap-2">
                <% if can?(:edit, @scoring_rule) %>
                    <%= link_to "âœï¸", edit_scoring_rule_path(@scoring_rule),
                        class: "btn btn-primary" %>
                <% end %>
                <% if can?(:destroy, @scoring_rule) %>
                    <%= link_to "ðŸ—‘ï¸", scoring_rule_path(@scoring_rule),
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this scoring rule?" },
                        class: "btn btn-danger" %>
                <% end %>
            </div>
        </div>
    </div>    

    <div class="card mx-auto" style="max-width: 1500px;">
        <div class="card-body text-center"> 

            <h1 class="display-5 mb-3 fw-bold" style="color: #2F855A;"><%= @scoring_rule.rule_type %></h1>
            <% if @scoring_rule.description.present? %>
                <p class="text-muted"><%= @scoring_rule.description %></p>
            <% else %>
                <p class="text-muted">No description avalaible.</p>
            <% end %>
            <p>Created by: <%= @scoring_rule.user&.username || "Unknown" %></p>

        </div>
    </div>
    
</div>